Package: bashshare
Version: {VERSION}-1
Section: base
Priority: optional
Architecture: all
Depends: bash (>= 4),smbclient,sshfs
Maintainer: Alexander Trousevich <trousev@yandex.ru>
Description: Command line tools to mount remote filesystems painlessly
 When You need to mount a remote filesystem (ssh, smb, dav, etc) just
 run `share create` and follow the master. You may remember settings
 and re-mount remote share with one click.

